<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.ph1b.dgard" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name">

        <!-- Help screen to how to get the App working. -->
        <activity
            android:name="de.ph1b.dgard.HelpScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Service doing all the IO. -->
        <service
            android:name="de.ub0r.android.websms.connector.common.ConnectorService"
            android:exported="false" />

        <activity android:name="Preferences">
            <intent-filter>
                <action android:name="de.ph1b.dgard.PREFS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <receiver
            android:name="de.ph1b.dgard.DevCon"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="de.ph1b.dgard.RUN_UPDATE" />
                <action android:name="de.ph1b.dgard.RUN_SEND" />
                <action android:name="de.ub0r.android.websms.connector.UPDATE" />
            </intent-filter>
        </receiver>
    </application>
</manifest> 